body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.hero {
    background: #E8D3B0;
    min-height: 420px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 60px 100px;
}

.hero-text {
    max-width: 600px;
    text-align: left;
}

.hero h1 {
    font-size: 52px;
    color: #171717;
    margin-bottom: 25px;
    font-weight: 600;
}

.hero p {
    font-size: 19px;
    color: #333333;
    line-height: 1.7;
}
